@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@import "tailwindcss";
@theme {
  --color-blueSky: rgba(31, 128, 240, 1);
  --color-textBlue: rgba(11, 48, 91, 1);
  --color-pTc: rgba(22, 67, 119, 1);
  --font-Montserrat: "Montserrat", serif;
  --font-Inter: "Inter",sans-serif;
}

.custom-footer-path {
  clip-path: polygon(0 24%, 100% 63%, 100% 100%, 0% 100%);
}

@layer components {
  .clipBanner {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  }
  .overlygradiant {
    background: linear-gradient(
      190deg,
      #1f80f0 15.05%,
      rgba(31, 128, 240, 0) 30.39%
    );
  }
  .heroSection {
    background: radial-gradient(
      59.82% 121.73% at -9.66% 130.31%,
      #00e9ea 0%,
      #1f80f0 52.08%,
      #005bc4 100%
    );
  }
  .bannerImgClip {
    -webkit-clip-path: polygon(
      67% 0,
      100% 0,
      100% 68%,
      80% 100%,
      0 100%,
      32% 51%
    );
    clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
  }
}

/* Custom Animations */
@keyframes bounce1 {
  0%, 100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(8px);
  }
}

@keyframes bounce3 {
  0%, 100% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
}

/* Apply Animations */
.animate-bounce1 {
  animation: bounce1 2s infinite ease-in-out;
}

.animate-bounce2 {
  animation: bounce2 2s infinite ease-in-out;
}

.animate-bounce3 {
  animation: bounce3 2s infinite ease-in-out;
}

